@import './__title/login__title.css';
@import './__form/login__form.css';
@import './__input/login__input.css';
@import './__link/login__link.css';

.login {
    max-width: 882px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: calc(100vh - 120px - 148px);
}

@media screen and (max-width: 950px) {
    .login {
        max-width: 88.125%;
        height: calc(100vh - 101px - 85px);
        }
    }
