.profile__image-container {
  display: flex;
  border-radius: 50%;
  height: 127.5px;
  width: 127.5px;
  background-color: grey;
  background-size: cover;
  background-position: center;
}
.profile__image-container:hover {
  cursor: pointer;
}
.profile__image-container:hover .profile__edit-avatar-button {
  display: flex;
}
.profile__image-container:hover .profile__edit-avatar-button-container {
 background-color: rgba(0,0,0, 0.8);
}



